
:root {
    --white: #fff;
}

body {
    font-family: roboto condensed;
}

a {
    text-decoration: none;
}

.header {
    z-index: 5;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.header-navbar {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.nav-link {
    display: flex;
    align-items: center;
    color: var(--white);;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 15px;
    border-bottom: 1px solid transparent;
}

.header-navbar a:hover {
    border-color: var(--white);;
}

.header-navbar a:first-child {
    margin-left: 0;
}

.header-links {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.header-links a {
    display: flex;
    align-items: center;
    margin-left: 25px;
    border-bottom: 1px solid transparent;
}

.header-links a:hover {
    border-color: var(--white);;
}

.header-links a:first-child {
    margin-left: 0;
}

.header-links img {
    width: 30px;
}

.tickets {
    background-image: linear-gradient(rgba(41,49,51, 0.5), rgba(41,49,51, 0.5)), url(./images/bg-about.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 100px;
}

.concert {
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*margin: 330px 0 0 80px;*/
}

.concert p {
    color: var(--white);;
    font-weight: bold;
    line-height: 40px;
    font-size: 35px;
    text-align: center;
}

.concert-link {
    color: var(--white);;
    background-color: rgba(230, 230, 250, 0.1);
    padding: 10px 20px;
    border: 1px solid #E0FFFF;
}

.video {
    /*height: 100vh;*/
    padding: 20px 15px;
    /*background-blend-mode: multiply;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    background-color: #293133;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.video-title {
    color: var(--white);;
    font-size: 30px;
    text-transform: uppercase;
}

.player {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.video-link {
    /*display: block;*/
    margin-top: 30px;
    color: var(--white);;
    text-transform: uppercase;
    background-color: rgba(230, 230, 250, 0.1);
    padding: 10px 20px;
    border: 1px solid #E0FFFF;
}

